src/main/resources/dive-details.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DiveDetailsService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://mikecarr.net/dives"
                  targetNamespace="http://mikecarr.net/dives">
    <wsdl:types>
        <xs:schema targetNamespace="http://mikecarr.net/dives" elementFormDefault="qualified">
            <xs:complexType  name="DiveDetails">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                    <xs:element name="location" type="xs:string"/>
                    <xs:element name="depth" type="xs:int"/>
                    <xs:element name="startTime" type="xs:dateTime"/>
                    <xs:element name="endTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetDiveDetailsRequest">
        <wsdl:part name="parameter" type="xs:int"/>
    </wsdl:message>
    <wsdl:message name="GetDiveDetailsResponse">
        <wsdl:part name="parameter" type="tns:DiveDetails"/>

    </wsdl:message>
    <wsdl:portType name="DiveDetailsPort">
        <wsdl:operation name="GetDiveDetails">
            <wsdl:input message="tns:GetDiveDetailsRequest"/>
            <wsdl:output message="tns:GetDiveDetailsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DiveDetailsBinding" type="tns:DiveDetailsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDiveDetails">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DiveDetailsService">
        <wsdl:port name="DiveDetailsPort" binding="tns:DiveDetailsBinding">
            <soap:address location="http://localhost:8080/DiveDetailsPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
